<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/chat.css">
    <title>Chat</title>

</head>
<body>
    
    
    <nav id="sidebar">
        <div id="sidebar_content">


            <div id="user">
                <img src="../static/caua.jpeg" id="user_avatar" alt="Avatar">
                <p id="user_infos">
                    <span class="item_description">
                        Cauã Pablo
                    </span>
                    <span class="item_description">
                        Analista de T.I 
                    </span>
    
                </p>
            </div>
        <ul id="side_items">
            <li class="side-item active">
                <a href="#"></a>
                    <i class="fa fa-comments" aria-hidden="true"></i>
                <i class=""></i>
                <san class="item_description">
                    Chat
                </san>
            </li>
        
        
            <li class="side-item">
                <a href="#"></a>
                    <i class="fa fa-home" aria-hidden="true"></i>
                <i class=""></i>
                <san class="item_description">
                    Página Principal
                </san>
            </li>
        
        
        
            <li class="side-item">
                <a href="#"></a>
                    <i class="fa fa-address-book" aria-hidden="true"></i>
                <i class=""></i>
                <san class="item_description">
                    Contatos
                </san>
            </li>
        
        
        
            <li class="side-item">
                <a href="#"></a>
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                <i class=""></i>
                <san class="item_description">
                    Suporte
                </san>
            </li>    
        </ul>
        


        <button id="open_btn">
            <i id="open_btn_icon" class="fa fa-chevron-right"></i>
        </button>
        


        </div>

        <div id="logout">

            <button id="logout_btn">
                <i class="fa fa-sign-out"></i>
                <span class="item_description">
                    logout
                </span>
            </button>
        </div>
    </nav>



    <nav>
       
        <div class="container">
            <div class="header">
              <img src="../static/pessoas.png" alt="Profile Picture" class="profile-pic">
              <span class="name">Carlos da Silva</span>
            </div>

            <div class="chat">
              <!-- Chat messages go here -->
            </div>
            <div class="fundo">                
            </div>
            <div class="footer">
              <input type="text" class="message-input" placeholder="Digite sua mensagem...">
              <button class="send-button">Enviar</button>
              <button id="open_btn_voice">
                <i class="fa fa-microphone" aria-hidden="true"></i>
            </button>
                    </div>
          </div>
    </nav>


  



    <script src="../static/script.js"></script>
</body>
</html>